* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.png);
    background-color: hsl(0, 100%, 74%);
    border:1px solid black;
    height:100vh;
}
.main-container {
    display:flex;
    border:1px solid black;
    height:100vh;
}
.right-container {
    border:1px solid white;
    display:flex;
    flex-direction: column;
}
.left-container {
    border:1px solid white;
}
.form {
    border:1px solid white;
}