* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url(images/background.png);
    background-color: hsl(0, 100%, 74%);
    border:1px solid black;
    height:100vh;
}
.main-container {
    display:flex;
    border:1px solid black;
    height:100vh;
}
.right-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    
}
.left-container {
    display:flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    color:white;
    margin-left: 50px;
    padding-right: 100px;
}
.form {
    border:1px solid white;
    background-color:white;
    height:50%;
    width:400px;
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-left: 5px;
    padding-right:5px ;
}
.title {
    font-weight: 700;
}
.paragraph {
    font-weight: 400;
}
input {
    width:90%;
    height:12.5%;
}
.button {
    width:90%;
    height:12.5%;
    background-color: hsl(154, 59%, 51%);
    color:white;
    border:none;
    border-radius: 5px;
}
.foot {
    padding-top: 10px;
    font-size:10px;
}